!!!
%html(lang='en' xmlns='http://www.w3.org/1999/xhtml')
  %head
    %title Padrino Website
    = stylesheet_link_tag 'bootstrap', 'website'

  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          %a.brand{:href => '/'} Padrino SaaS
          %ul.nav
            %li
              %a(href='/') Website

    = yield
