!!!
%html(lang='en' xmlns='http://www.w3.org/1999/xhtml')
  %head
    %title Padrino Website
    = stylesheet_link_tag 'bootstrap', 'website'
    = yield_content :head

  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          %a.brand{:href => '/'} Padrino SaaS
          %ul.nav
            %li
              %a(href='/') Website
            %li
              %a(href='/app') Application
            - if session[:logged_in]
              %li
                %a(href='/users/logout') Logout
            - else
              %li
                %a(href='/users/login') Login

    = yield
    = yield_content :javascript
